.calendar {
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    height: 600px;
}

.calendar-day-row {
    display: flex;
    justify-content: flex-start;
}

.calendar-row-block {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
}

.calendar-block {
    width: 14%;

    overflow: hidden;
    border: 1px dashed black;
}

.this-month {
    color: black;
    font-weight: bold;
}

.another-month {
    color: #bcbcbc;
    font-weight: bold;
}

.calendar-title {
    margin-top: 3%;
}

.calendar-block-row {
    width: 100%;
    height: auto;
}

.holiday-color {
    background-color: #FFFFCC;
}